@model NarrowWebExchangeProj.Models.SiteUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SiteUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SiteUserId" />
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserFirstName" class="control-label"></label>
                <input asp-for="SiteUserFirstName" class="form-control" />
                <span asp-validation-for="SiteUserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserLastName" class="control-label"></label>
                <input asp-for="SiteUserLastName" class="form-control" />
                <span asp-validation-for="SiteUserLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserStreetAddress" class="control-label"></label>
                <input asp-for="SiteUserStreetAddress" class="form-control" />
                <span asp-validation-for="SiteUserStreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserCity" class="control-label"></label>
                <input asp-for="SiteUserCity" class="form-control" />
                <span asp-validation-for="SiteUserCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserState" class="control-label"></label>
                <input asp-for="SiteUserState" class="form-control" />
                <span asp-validation-for="SiteUserState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserZipCode" class="control-label"></label>
                <input asp-for="SiteUserZipCode" class="form-control" />
                <span asp-validation-for="SiteUserZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SiteUserPhone" class="control-label"></label>
                <input asp-for="SiteUserPhone" class="form-control" />
                <span asp-validation-for="SiteUserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
