@model NarrowWebExchangeProj.Models.Search

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Search</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SearchMake" class="control-label">Make</label>
                <select asp-for="SearchMake" class="form-control" asp-items="ViewBag.Makes"></select>
            </div>
            <div class="form-group">
                <label asp-for="SearchModel" class="control-label"></label>
                <input asp-for="SearchModel" class="form-control" />
                <span asp-validation-for="SearchModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMinWidth" class="control-label"></label>
                <input asp-for="SearchMinWidth" class="form-control" />
                <span asp-validation-for="SearchMinWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMaxWidth" class="control-label"></label>
                <input asp-for="SearchMaxWidth" class="form-control" />
                <span asp-validation-for="SearchMaxWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMinHours" class="control-label"></label>
                <input asp-for="SearchMinHours" class="form-control" />
                <span asp-validation-for="SearchMinHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMaxHours" class="control-label"></label>
                <input asp-for="SearchMaxHours" class="form-control" />
                <span asp-validation-for="SearchMaxHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchFromYear" class="control-label"></label>
                <input asp-for="SearchFromYear" class="form-control" />
                <span asp-validation-for="SearchFromYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchToYear" class="control-label"></label>
                <input asp-for="SearchToYear" class="form-control" />
                <span asp-validation-for="SearchToYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMinNumColors" class="control-label"></label>
                <input asp-for="SearchMinNumColors" class="form-control" />
                <span asp-validation-for="SearchMinNumColors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMaxNumColors" class="control-label"></label>
                <input asp-for="SearchMaxNumColors" class="form-control" />
                <span asp-validation-for="SearchMaxNumColors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMinNumDieStations" class="control-label"></label>
                <input asp-for="SearchMinNumDieStations" class="form-control" />
                <span asp-validation-for="SearchMinNumDieStations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchMaxNumDieStations" class="control-label"></label>
                <input asp-for="SearchMaxNumDieStations" class="form-control" />
                <span asp-validation-for="SearchMaxNumDieStations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchListingType" class="control-label">Leave blank will return all types...</label>
                <select asp-for="SearchListingType" class="form-control" asp-items="ViewBag.ListingType"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <p>Hello World</p>

       

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

