
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        body {
            font-family: Arial;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #d7a657;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: black;
            }

        div.container {
            
            border-radius: 5px;
            background-color: #f2f2f2;
            
        }
    </style>
<h1>Search</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="/action_page.php">
                <label for="make">Make</label>
                <select id="make" name="make">
                    <option value="Mark Andy">Mark Andy</option>
                    <option value="Nilpeter">Nilpeter</option>
                    <option value="Gallus">Gallus</option>
                    <option value="Edale">Edale</option>
                    <option value="MPS">MPS</option>
                    <option value="Omet">Omet</option>
                    <option value="Aquaflex">Aquaflex</option>
                    <option value="Allied Gear">Allied Gear</option>
                    <option value="Roto-Press">Roto-Press</option>
                </select>
                <label for="model">Model</label>
                <input type="text" id="model" name="model" placeholder="Model..">

                <label for="widthFrom">Width From</label>
                <input type="text" id="widthFrom" name="widthFrom" placeholder="Width from..">

                <label for="widthTo">Width To</label>
                <input type="text" id="widthTo" name="widthTo" placeholder="Width to..">

                <label for="colorsFrom">Colors From</label>
                <input type="text" id="colorsFrom" name="colorsFrom" placeholder="Number of colors from..">

                <label for="colorsTo">Colors To</label>
                <input type="text" id="colorsTo" name="colorsTo" placeholder="Number of colors to..">

                <label for="listingType">Listing Type</label>
                <select id="listingType" name="ListingType">
                    <option value="all">All</option>
                    <option value="buyItNow">BuyItNow</option>
                    <option value="auction">Auction</option>
                    <option value="buyItNowAuction">BuyItNow with Auction</option>
                </select>

                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-9">
            
        </div>
    </div>